<h1>ルーム検索</h1>
<article>
    <%= search_form_for @q do |f| %>
        <%= f.label :name, "キーワード検索" %>
        <%= f.search_field :roomname_or_roomaddress_cont %>  
        <%= f.submit "検索" %>
    <% end %>
    <br>

    <table>
        <thead>
            <tr>
                <th>ルーム画像</th>
                <th>ルーム名</th>
                <th>住所</th>
                <th>宿泊料金</th>
            </tr>
        </thead>
        <tbody>
            <% @rooms.each do |r| %>
                    <tr>
                        <td>
                            <%= link_to r do %>
                                <%= image_tag r.image.url, class: 'posts_img' %>
                            <% end %>
                        </td>
                        <td><%= r.roomname %></td>
                        <td><%= r.roomaddress %></td>
                        <td>¥<%= r.roomfee %></td>
                    </tr>
            <% end %>
        </tbody>
    </table>
</article>
