<h1>登録済みルーム一覧</h1>

<article>
    <table>
        <thead>
            <tr>
                <th>ルーム画像</th>
                <th>ルーム名</th>
                <th>ルーム紹介</th>
                <th>料金</th>
                <th>作成日</th>
            </tr>
        </thead>
        <tbody>
            <% @rooms.each do |r| %>
                <% if current_user.id == r.user_id %>
                    <tr>
                        <td>
                            <%= link_to r do %>
                                <%= image_tag r.image.url, class: 'posts_img' %>
                            <% end %>
                        </td>
                        <td><%= r.roomname %></td>
                        <td><%= r.roomintroduction %></td>
                        <td>¥<%= r.roomfee %></td>
                        <td><%= r.created_at.to_s(:datetime_jp) %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</article>
