<h1>アカウント設定</h1>
<article>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <hr>
    <div class="field">
      <%= f.label :Eメールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <hr>
    <div class="field">
      <%= f.label :現在のパスワード %> <i>(変更前のパスワードを入力してください)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <hr>
    <div class="field">
      <%= f.label :新しいパスワード %> <i>(現在と異なるパスワードを入力してください)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> 文字以上で設定してください。</em>
      <% end %>
    </div>
    <br>

    <div class="field">
      <%= f.label :パスワードの確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <hr>
    <div class="field">
      <%= f.label :新しいアイコン %><br/>
      <%= f.file_field :icon %>
    </div>

    <hr>
    <div class="actions">
      <%= f.submit "設定を更新する", class: 'btn-design' %>
    </div>
  <% end %>
  <br>
  <br>

  <h1>アカウントの削除</h1>
  <p>本当に削除しますか?(削除すると元に戻せません) <%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  <hr>

  <%= link_to "Back", :back %>
</article>
